@use '../abstracts/variables' as *;

.gallery {
  padding: 90px 0 100px;
  background: $color-dark;

  &__grid {
    @include container;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $gap;
  }

  &__img {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 100%;
    filter: grayscale(.15);
    transition: transform .3s ease, filter .3s ease;

    &:hover { transform: scale(1.02); filter: grayscale(0); }
  }
}
